# monitoring
DAEMON_RUNTIME_MINUTES = 5
PER_SERVER             = 20 

# server
SERVER_PORT = 8080
SERVER_NAME = 54.173.67.59

# mongoDB
MONGO_HOST      = ec2-54-173-67-59.compute-1.amazonaws.com
MONGO_PORT      = 27017
MONGO_DATABASE  = nodejs

#aws
AWS_REGION     = us-east-1
AWS_ACCESS_KEY = xx
AWS_SECRET_KEY = xx
AWS_BUCKET     = xx

#RabbitMQ
RMQ_HOST = ec2-54-173-67-59.compute-1.amazonaws.com
RMQ_USERNAME = admin
RMQ_PASSWORD = admin
RMQ_PORT = 5672
RMQ_INT_PORT = 15672
RMQ_PREFETCH = 1
